{
  "branches": ["master"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          { "type": "feat", "release": "minor" },
          { "type": "fix", "release": "patch" },
          { "type": "chore", "release": false },
          { "type": "docs", "release": false }
        ],
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "writerOpts": {
          "commitsSort": ["scope", "subject"],
          "types": [
            { "type": "feat", "section": "Features" },
            { "type": "fix", "section": "Bug Fixes" },
            { "type": "test", "section": "Tests", "hidden": false },
            { "type": "chore", "section": "Chores", "hidden": false },
            { "type": "docs", "section": "Documentation", "hidden": false }
          ]
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Changelog"
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./scripts/update-version.sh ${nextRelease.version}"
      }
    ]
  ]
}
